
.hero-section {
  max-width: 800px;
  margin: 10rem auto 0;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.219);
  border-radius: 10px;
  font-family: 'Segoe UI', sans-serif;
}

.hero-section h1 {
  font-size: 2rem;
  font-weight: bold;
}

.hero-section h2 {
  font-size: 2rem;
  font-weight: 400;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.socials {
   display: flex;
   gap: 1rem;
   transition: transform 0.3s ease;
}

.social-icons {
    height: 50px;
    width: 50px;
}

.social-icons:hover {
  transform: scale(1.1);
}